/* This css file contains all the style code for the three pop ups of the cities */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -30%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(244, 241, 216);
  width: 1000px;
  max-width: 100%;
}

.wh{
  background: #3ACFCF;
  background: linear-gradient(to top left, #3ACFCF 50%, #CFB76A 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.wr {
  background: #3ACFCF;
  background: linear-gradient(to top right, #3ACFCF 50%, #CFB76A 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.hr {
  background: #CF3EB7;
  background: linear-gradient(to top right, #CF3EB7 50%, #9BCF0C 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.modal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -30%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(244, 241, 216);
  width: 1000px;
  max-width: 100%;
}

.modal2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -30%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(244, 241, 216);
  width: 1000px;
  max-width: 100%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal1.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal2.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;

  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal1-header {
  padding: 10px 15px;

  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal2-header {
  padding: 10px 15px;

  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}




.modal-header .title {
  font-size: 3rem;
  font-weight: bold;
  margin-left: -120px;
  text-shadow: 2px 2px 5px red;
  

  padding-bottom: 0px;
}

.modal1-header .title1 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 400px;
  text-decoration-style: double;
  text-shadow: 2px 2px 5px red;
  padding-top: 40px;

  padding-bottom: 0px;
}


.modal2-header .title2 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 400px;
  text-decoration-style: double;
  text-shadow: 2px 2px 5px red;
  padding-top: 40px;

  padding-bottom: 0px;
}


.modal-header .close-button {
  padding-left: 930px;
  padding-bottom: 35px;

  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}


.modal1-header .close-button {
  padding-left: 930px;
  padding-bottom: 35px;

  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal2-header .close-button {
  padding-left: 930px;
  padding-bottom: 35px;

  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}


.modal-body {
  padding: 10px 15px;
  display: flex;
}

.modal1-body {
  padding: 10px 15px;
  display: flex;
}



.modal2-body {
  padding: 10px 15px;
  display: flex;
}

.modal-body>div {
  flex: 1;
}

.modal1-body>div {
  flex: 1;
}

.modal2-body>div {
  flex: 1;
}

.btn4 {
  width: 300px;
  height: 100px;
  background-color: rgb(104, 151, 200);
  font-size: 2rem;
  color: rgb(26, 21, 99);
  border: 10px solid rgb(0, 90, 128) ;
}










#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.mo {
  padding-left: 50px;
}

.pic1 {
  width: 450px;
  height: 200px;
  padding-left: 0px;
}


#i1 {
  padding-top: 80px;
  padding-left: 0px;

}

@media screen and (max-width: 768px){

  .btn4 {
    width: 170px;
    height: 100px;
    background-color: rgb(104, 151, 200);
    font-size: 2rem;
    color: rgb(26, 21, 99);
    border: 5px solid rgb(0, 90, 128) ;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(244, 241, 216);
    width: 900px;
    max-width: 100%;
  }

  .hr {
    background: #CF3EB7;
    background: linear-gradient(to top right, #CF3EB7 50%, #9BCF0C 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
  
  
  }
  .wh{
    background: #3ACFCF;
    background: linear-gradient(to top left, #3ACFCF 50%, #CFB76A 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 15px;
  }
  
  .wr {
    background: #3ACFCF;
    background: linear-gradient(to top right, #3ACFCF 50%, #CFB76A 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
  
  }
  .pic1 {
    width: 300px;
    height: 150px;
    padding-left: 0px;
  }

  .modal-header {
    padding: 10px 15px;
    
  
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }



  .modal-body>div {
    flex: 1;
  }

  .modal-header .title {
    font-size: 3rem;
    font-weight: bold;
    margin-left: -10px;
    text-shadow: 2px 2px 5px red;
    
  
    padding-bottom: 0px;
  }

  .modal-header .close-button {
    padding-left: 620px;
    padding-bottom: 10px;
  
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .modal1-header .title1 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 200px;
    text-shadow: 2px 2px 5px red;
    
  
    padding-bottom: 0px;
  }

  .modal1-header {
    padding: 10px 15px;
  
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .modal1-header .close-button {
    padding-left: 620px;
    padding-bottom: 10px;
  
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .modal2-header .title2{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 200px;
    text-shadow: 2px 2px 5px red;
    
  
    padding-bottom: 0px;
  }

  .modal2-header {
    padding: 10px 15px;
  
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .modal2-header .close-button {
    padding-left: 620px;
    padding-bottom: 10px;
  
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;

}